@import url('../reset.css');

html { background-color:black; background-position:top; text-align:center; padding-bottom:10px; }
body { width:750px; position:relative; margin:0 auto; text-align:left; background-color:black; color:white; font-family:Arial, Helvetica, sans-serif; }

*[dir="rtl"] { text-align:right; }

/* DEFAULT TEXT */
a { color:#0066CC; }
a:active { color:#0066CC; }
a:hover { color:#0066CC; text-decoration:underline; }

hr { border:0; height:1px; background-color:#003366; margin-bottom:10px; margin-top:10px; }

p { margin:0; margin-bottom:.5em; }

h1 { font-size:18px; color:white; margin:0; padding:0; font-weight:bold; clear:both; }
h2 { font-size:16px; color:white;  margin:15px 0px 5px 0px; font-weight:bold; border-bottom:1px solid #bdbdbd; clear:both; }
h2 a { color:#003366; }
h3 { font-size:14px; color:white; margin:15px 0px 5px 0px; padding:0; font-weight:bold; clear:right; }
h3 a { color:#003366; }
h4 { font-size:13px; color:white; margin:15px 0px 5px 0px; padding:0; font-weight:bold; clear:both; }
h4 a { color:#003366; }
h5 { font-size:13px; color:white; margin:15px 0px 5px 0px; padding:0; font-weight:bold; clear:both; }
h5 a { color:#003366; }
h6 { font-size:12px; color:white; margin:15px 0px 5px 0px; font-weight:bold; clear:both; }
h6 a { color:#003366; }

strong { font-weight:bold; }
u { text-decoration:underline; }
em { font-style:italic; }
sub { vertical-align:sub; }
sup { vertical-align:super; }
code { font-family:monospace; }
address { font-style:normal; }

dt { font-weight:bold; }

blockquote { margin:1em 40px; }

form { }
fieldset { margin-bottom:10px; }
legend { background-color:#5a8fdc; font-weight:bold; padding:4px; margin-bottom:2px; color:white; }
label { font-weight:bold; }
label.required {padding-left:15px; }
select { font-size:12px; }
textarea { }
input { }

table { border-collapse:collapse; border:1px solid #999999; margin:1em 0 1em 0; }
tr { }
td { padding:2px; background-color:inherit; border:1px solid #999999; vertical-align:top; }
th { text-align:left; border:1px solid #999999; background-color:#e0e0e0; padding:2px; vertical-align: top; font-weight:bold; }
th a { color:#3366cc; background-color:inherit; }

.comments { color:red; background-color:inherit; }
.money { text-align:right; }
.void,.void td { text-decoration:line-through; }
.total { border-top:1px solid black; text-align:right; }
.total td { padding-bottom:1em; }
.instructions { }
.unpublished { text-decoration:line-through; color:#999999; }
.current { font-weight:bold; }
.required { background:url('images/icons/required_asterik.gif') no-repeat; }

img { border:1px solid #e0e0e0; }
span.image { display:block; text-align:center; margin:0 15px 5px 15px; }
span.thumbnail {  }
span.image img { }
span.caption { display:block; font-size:11px; padding:7px; background-color:#e0e0e0; color:black; }
#pageBanner img { border:1px solid #999999; }



#banner { width:300px; margin:0; padding:0; height:40px; background:url('images/banner/citylogo-blue.gif') top left no-repeat; background-color:black; }
#logo { width:300px; height:30px; position:absolute; top:1px; left:1px;  text-indent:50px; }
#logo a { display:table-cell; width:300px; height:30px; color:white; vertical-align:middle; }
#topLevelSections { display:none; }
#skipNavigation { position:absolute; left:-9999px; }
#mainLinks {display:none; }
#secondaryLinks {display:none; }
#main-content-container { width:745px; margin:0; overflow:auto; background-color:black; color:white; }

#leftSidebar { margin-bottom:10px;  }
#leftSidebar .widget { position:absolute; margin-left:-999px; }
#rightSidebar { clear:right; }
#rightSidebar .widget { display:none; }


#leftSidebar .navigation {
	position:absolute; left:1px; top:45px;
	margin:0px; }
#leftSidebar .navigation ul {list-style:none; padding:0 0 2px 0px; margin-top:4px; }
#leftSidebar .navigation li { font-size:13px; display:block; float:left; margin:0 0 2px 0; padding:0 7px 0px 7px; border-right:1px solid white; }
#leftSidebar .navigation li .current { border-bottom:1px solid red; }
.navigation a{ color:white; }
.navigation h1 {font-size:35px; color:red; }


#alerts ul {list-style:none; }
#alerts li {display:inline; }


#pageTools { float:right; margin-bottom:30px; }
#pageTools ul { list-style-type:none; width:75px; height:29px; text-align:right; margin:0; padding:0; white-space:nowrap; }
#pageTools li { display:inline; margin-left:5px; }
#pageTools form { display:none; }
#pageTools fieldset { display:inline; vertical-align:top; }
#pageTools legend { display:none; }
#pageTools select { width:90px; margin:0; padding:0; font-size:11px; }

/*  mainContent allows for 3 columns,	*/
/*	backendContent allows for 2 columns	*/
#mainContent { float:left; width:735px; font-size:12px; line-height:1.25; padding:5px 5px 0 5px; margin:0; border-top:1px solid white; }
#backendContent { float:left; margin-left:18px; width:720px; font-size:12px;  }


#pageTitle { }
#pageTitle h1 { display:none; }

.breadcrumbs { font-size:10px; padding-top:5px; padding-bottom:10px; margin-left:6px; color:white; }
.breadcrumbs ul { margin:0; padding:0; }
.breadcrumbs li { display:inline; list-style-type:none; font-weight:bold; }
.breadcrumbs li a { padding-right:8px; background:url('images/contentarea/breadcrumb.gif') no-repeat right; color:white; font-weight:normal; }


.interfaceBox { border-top:1px solid #003366; margin-top:10px; margin-bottom:10px; padding-top:6px; }
.interfaceBox h1 { width:190px; background:url('images/widgets/widget_top_bg.gif') top no-repeat; background-color:#5a8fdc; padding:5px 10px 5px 10px; font-size:14px; color:#ffffff; }
.interfaceBox h1 a { color:white; }
.interfaceBox h2 { font-size:14px; border-bottom:none; }


#footer { background-color:black; width:680px; padding:20px 20px 40px 20px; font-size:11px; color:white; clear:both; border-left:1px solid black; border-right:1px solid black; border-bottom:1px solid black; }
#footer ul { list-style-type:none; margin:0; float:right; width:600px; text-align:right; }
#footer li { display:inline; margin-left:4px; }
#footer .copyright { width:300px; margin-left:5px; }
#footer a { color:white; }


/* adds 5px spacing for list items in the content area. does not affect other list items in the layout such as nav and widgets */
#mainContent li { margin:5px; }


/* defines table styles for tables in the center column / content area. Will not affect other tables like the calendar */
#mainContent table { border-collapse:collapse; border:1px solid #999999; }
#mainContent tr { vertical-align:top; }
#mainContent td { background-color:inherit; border:1px solid #999999; vertical-align:top; }
#mainContent th { text-align:left; background-color:#e0e0e0; border:1px solid #999999; vertical-align: top; font-weight:bold; }
#mainContent th a { color:#3366cc; background-color:inherit; }



/* JavaScript Tree Generator Styles */
/* Turn off list bullets */
ul.mktree  li { list-style: none; }
/* Control how "spaced out" the tree is */
ul.mktree, ul.mktree ul , ul.mktree li { margin-left:10px; padding:0px; }
/* Provide space for our own "bullet" inside the LI */
ul.mktree  li .bullet { padding-left: 15px; }
/* Show "bullets" in the links, depending on the class of the LI that the link's in */
ul.mktree li.liOpen .bullet { cursor: pointer; background: url('../default/images/expanded.gif') center left no-repeat; }
ul.mktree li.liClosed .bullet { cursor: pointer; background: url('../default/images/collapsed.gif') center left no-repeat; }
ul.mktree li.bullet .bullet { cursor: default; background: url('../default/images/bullet.gif') center left no-repeat; }
/* Sublists are visible or not based on class of parent LI */
ul.mktree li.liOpen ul { display: block; }
ul.mktree li.liClosed ul { display: none; }

/* Table of Contents styles */
/* HANAPIN  - created new styles for TOC - using drop down list menu*/
.table-of-contents { padding-bottom:10px; padding-top:10px; }
.table-of-contents ul { list-style-type:none; }
.table-of-contents li { display:inline; }
.table-of-contents .title { font-size:12px; color:#003366; float:left; width:120px; font-weight:bold; }


/*  Custom buttons for forms */
button { cursor:pointer; overflow:hidden; vertical-align:middle; }
button.addSmall { width:15px; height:15px; padding-top:15px; background: url('../default/images/addSmall.gif') no-repeat; border:0; }
button.deleteSmall { width:15px; height:15px; padding-top:15px; background: url('../default/images/deleteSmall.gif') no-repeat; border:0; }
button.excel { width:16px; height:16px; padding-top:16px; background: url('../default/images/excel.gif') no-repeat; border:0; }
button.printSmall { display:none; }

/* All hrefs that are to be rendered as buttons need to include the button class. */
/* Technique taken from http://www.evotech.net/blog/2007/09/css-image-replacement-method */
a.button {
	display:-moz-inline-box; /* Fix for Mozilla */
	display:inline-block;
	background:transparent none 0 0 no-repeat;
	font:0/0 Arial; /* Fix for Safari, With just font-size:0, Safari renders a 1px underline */
	color:rgba(255,255,255,0) !important; /* If Safari does render the underline, at least it will be white or transparent */
	overflow:hidden;
	vertical-align:middle;
}

/* Image Replacements for hrefs that are to be rendered as buttons */
a.addSmall { width:15px; height:15px; background-image:url('../default/images/addSmall.gif'); }
a.editSmall { width:15px; height:15px; background-image:url('../default/images/editSmall.gif'); }
a.deleteSmall { width:15px; height:15px; background-image:url('../default/images/deleteSmall.gif'); }

a.up { width:16px; height:16px; background-image:url('../default/images/up.png'); }
a.down { width:16px; height:16px; background-image:url('../default/images/down.png'); }
a.rssSmall { width:14px; height:14px; background-image:url('../default/images/feed-icon-14x14.png'); }
a.rss { width:28px; height:28px; background-image:url('../default/images/feed-icon-28x28.png'); }
a.ical { width:16px; height:16px; background-image:url('../default/images/date.png'); }
a.kmlFeed { width:16px; height:16px; background-image:url('../default/images/kml_feed_small.png'); }

a.subscribe { width:22px; height:22px; background-image:url('images/buttons/x.gif'); }
a.unsubscribe { width:22px; height:22px; background-image:url('images/buttons/checkmark.gif'); }
a.notify { width:22px; height:22px; background-image:url('../default/images/mail_send.png'); }
a.watch { display:none; }
a.unwatch { display:none; }
a.reveal { width:12px; height:12px; background-image:url('images/icons/reveal_in_map.gif'); }

/* ICONS FOR MIME TYPES */
.jpg { height:16px; padding: 0px 0px 10px 22px; background: url('images/icons/mime/image.png') no-repeat; }
.png { height:16px; padding: 0px 0px 10px 22px; background: url('images/icons/mime/image.png') no-repeat; }
.gif { height:16px; padding: 0px 0px 10px 22px; background: url('images/icons/mime/image.png') no-repeat; }
.tiff { height:16px; padding: 0px 0px 10px 22px; background: url('images/icons/mime/page.png') no-repeat; }
.pdf { height:16px; padding: 0px 0px 10px 22px; background: url('images/icons/mime/pdf.png') no-repeat; }
.doc { height:16px; padding: 0px 0px 10px 22px; background: url('images/icons/mime/doc.png') no-repeat; }
.xls { height:16px; padding: 0px 0px 10px 22px; background: url('images/icons/mime/xls.png') no-repeat; }
.rtf { height:16px; padding: 0px 0px 10px 22px; background: url('images/icons/mime/page.png') no-repeat; }
.zip { height:16px; padding: 0px 0px 10px 22px; background: url('images/icons/mime/zip.png') no-repeat; }
.gz { height:16px; padding: 0px 0px 10px 22px; background: url('images/icons/mime/zip.png') no-repeat; }
.txt { height:16px; padding: 0px 0px 10px 22px; background: url('images/icons/mime/page.png') no-repeat; }
.wmv { height:16px; padding: 0px 0px 10px 22px; background: url('images/icons/mime/windowsMedia.png') no-repeat; }
.mov { height:16px; padding: 0px 0px 10px 22px; background: url('images/icons/mime/quicktime.png') no-repeat; }
.rm { height:16px; padding: 0px 0px 10px 22px; background: url('images/icons/mime/real.png') no-repeat; }
.ram { height:16px; padding: 0px 0px 10px 22px; background: url('images/icons/mime/real.png') no-repeat; }
.mp3 { height:16px; padding: 0px 0px 10px 22px; background: url('images/icons/mime/sound.png') no-repeat; }
.mp4 { height:16px; padding: 0px 0px 10px 22px; background: url('images/icons/mime/video.png') no-repeat; }
.wma { height:16px; padding: 0px 0px 10px 22px; background: url('images/icons/mime/sound.png') no-repeat; }
.tar { height:16px; padding: 0px 0px 10px 22px; background: url('images/icons/mime/tar.png') no-repeat; }
.dxf { height:16px; padding: 0px 0px 10px 22px; background: url('images/icons/mime/dwg-autocad-drawing.ico') no-repeat; }
.kml { height:16px; padding: 0px 0px 10px 22px; background: url('../default/images/kml_feed_small.png') no-repeat; }
.swf { height:16px; padding: 0px 0px 10px 22px; background: url('images/icons/mime/flash.gif') no-repeat; }
.folder { height:16px; padding: 0px 0px 10px 22px; background: url('images/icons/mime/folder.png') no-repeat; }

/* Styles for the Featured "Spotlight" blocks */
.featured table { width:100%; border:0 !important; }
.featured th { background-color:white !important; border:0 !important; }
.featured td { border:0 !important; }
.featured h4 { margin:0; }

/* notification blocks */
#errorMessages { border:1px solid #013567; padding:5px; margin: 10px 0px 10px 0px; background-color:#e6e6e6; clear:both; }
#errorMessages h1 { color:red; font-size:14px; background-color:#e6e6e6; }
#warning { border:1px solid #013567; padding:5px; margin: 10px 0px 10px 0px; background-color:#e6e6e6; clear:both; }
#warning h1 { color:#006600; font-size:14px; background-color:#e6e6e6; }
#message { border:1px solid #013567; padding:5px; margin: 10px 0px 10px 0px; background-color:#e6e6e6; clear:both; }
#message h1 { color:#003366; font-size:14px; background-color:#e6e6e6; }


/* Styles for stuff that is invalid */
.badlink { background-color:red; }

/* Javascript creates tooltips on the fly */
/* There is only one tooltip div, javascript just replaces it's contents */
#tooltip { border:2px solid #5a8fdc; background-color:white; padding:4px; font-size:11px; }
#tooltip.enlarge { padding-left:18px; background:white url('images/icons/viewmag.png') top left no-repeat; }



/* HANAPIN - Styles for filter and organize by lists in page content area */
.tabBar { padding-bottom:10px; padding-top:10px; }
.tabBar ul { margin:10px 0 0 0; padding:0; font-size:11px; list-style-type:none; }
.tabBar li { list-style-type:none; display:inline; background-color:#f3f3f3; border:1px solid #013466; padding:3px; }
.tabBar a { font-size:11px; color:#003366; text-decoration:none; }
.tabBar a:hover { color:#003366; text-decoration:underline; }
.tabBar .title { font-size:11px; color:#003366; float:left; width:120px; font-weight:bold; }
.tabBar .current { font-weight:bold; background-color:#013466; color:white; padding:3px; }
.tabBar .current a { color:white; }
.tabBar select { font-size:11px; margin-left:6px;  }
.tabBar button { font-size:11px; }

.pageNavigation { text-align:center; padding-top:25px; }
.pageNavigation ul { list-style-type:none; }
.pageNavigation li { list-style-type:none; display:inline; padding:0 5px; }
.pageNavigation a { font-size:14px; color:#003366; }
.pageNavigation a:hover { text-decoration:underline; }

/* HANAPIN - Search Page styles */
.searchResult { }
.searchResult h3 { margin:0; padding-top:10px; font-size:12px; }
.searchResult p { margin:0; }
.searchResult a { color:#3399cc; }
.searchResult a:hover { text-decoration:underline; }

.blogPost {border-bottom:1px dotted black; }

* HANAPIN - STYLES FOR EVENTS SECTION */
/* Calendars MUST BE marked up as tables */
.calendar { border:0; width:100%; font-size:12px; }
.calendar tr { }
.calendar th { border:0; text-align:left; font-size:12px; font-weight:bold; color:black; }
.calendar td {  border:0; text-align:left; font-size:12px; }
.calendar .date { padding:0; border:0; }
.calendar ul { list-style-type:none; margin:0; padding:0; }
.calendar li { margin-bottom:.8em; }
.calendar .Sunday { }
.calendar .Saturday {  }
.calendar .Monday { }
.calendar .Tuesday { }
.calendar .Wednesday { }
.calendar .Thursday { }
.calendar .Friday { }

.calendar .hasEvent { }
.calendar .hasEvent a { background-color:black; color:#3399cc; }
.calendar .hasEvent a:hover { text-decoration:underline; }

.callOutright { width:175px; float:right; margin:1px; display:block; color:red; font-size:18px; padding:20px 0 20px 20px; }
.callOut ul { list-style-type:none; }

.callOutleft { width:175px; float:left; color:red; margin:1px;  display:block;  font-size:18px; font-family:impact; padding:20px 20px 20px 0; }
.callOut ul { list-style-type:none; }

#frontImages img {margin:0 15px 0 0px; }
#tagLine {position:absolute; top:-}
