html { background:url('hanapin/images/pagebg.gif'); background-repeat:repeat; background-position:top; text-align:center; }

body { font-family: Arial, Helvetica, sans-serif; font-size:12px; color:#000000; background-color:white; height:100%; width:980px; margin:0 auto; min-height:100%; text-align:left; }

/* DEFAULT TEXT */
a { color:#3399cc; text-decoration:none; }
a:visited { color:#3399cc; text-decoration:none; }
a:active { color:#3399cc; text-decoration:none; }
a:hover { color:#3399cc; text-decoration:underline; }

hr { border:0; height:1px; background-color:#003366; margin-bottom:10px; margin-top:10px; clear:both; }

p { margin:0; margin-bottom:.5em; }

h1 { font-size:18px; color:#003366; margin:0; padding:0; font-weight:bold; }
h2 { font-size:16px; color:#003366;  margin:5px 0px 5px 0px; padding:0; font-weight:bold; }
h2 a { color:#003366; }
h3 { font-size:14px; color:#003366; margin:5px 0px 5px 0px; padding:0; font-weight:bold; }
h3 a { color:#003366; }
h4 { font-size:13px; color:#003366; margin:5px 0px 5px 0px; padding:0; font-weight:bold; }
h4 a { color:#003366; }
h5 { font-size:13px; color:#003366; margin:5px 0px 5px 0px; padding:0; font-weight:bold; }
h5 a { color:#003366; }
h6 { font-size:12px; color:#003366; margin:5px 0px 5px 0px; padding:0; font-weight:bold; }
h6 a { color:#003366; }

strong { font-weight:bold; }
u { text-decoration:underline; }
em { font-style:italic; }
sub { vertical-align:sub; }
sup { vertical-align:super; }
code { font-family:monospace; }
address { font-style:normal; }

table { border-collapse:collapse; border:1px solid #e0e0e0; }
tr { vertical-align:top; }
td { padding:.5em; background-color:inherit; }
th { text-align:left; background-color:#f3f3f3; padding:.5em; border-bottom:1px solid #e0e0e0; vertical-align: top; font-weight:bold; }
th a:link,th a:visited { color:#3366cc; background-color:inherit; }

img { border:0; }
span.image { margin:5px 15px 5px 15px; }
span.image img { }
span.caption { display:block; font-size:11px; }
.thumbnail { }


/* PAGE BANNER */
#banner { width:980px; height:130px; background:url('hanapin/images/banner/banner.gif'); background-repeat:no-repeat; background-color:#ffffff; }
#banner-left { width:300px; float:left; height:130px; }
#banner-right { width:620px; float:right; height:130px; padding:0 0 0 60px; }

#logo { width:260px; height:39px; padding:20px 0 0 18px; margin-top:20px; margin-left:15px; cursor:pointer; }

/* Take Action Items */
#banner .widgets { margin-left:19px; margin-top:19px; width:280px; height:30px; }
#banner .widget { width:280px; height:30px; }
#banner .widget h1 { display:inline; font-size:11px; font-weight:bold; color:#006600;  }
#banner .widget ul { display:inline; list-style-type:none; margin:0; border:0px; padding:0;  }
#banner .widget li { list-style-type:none; display:inline; padding-left:18px; font-weight:bold; }
#banner .widget li a { color:#033266; }

/* Primary Top Nav */
#banner-right ul { display:inline; list-style-type:none; margin:0; padding:0; font-size:11px; color:#003366; font-weight:bold; }
#banner-right li { list-style-type:none; display:inline; float:left; padding:0px 4px 0 4px; border-left:1px solid #003366; }
#banner-right li.first { border-left:0; }
#banner-right a { color:#003366; }

#mainLinks { width:330px; float:left; margin-top:16px; padding:0; }
#secondaryLinks { width:280px; float:left; padding:0; margin-top:16px; margin-left:10px; }

/* Site search Form */
#secondaryLinks form { height:20px; width:110px; padding-left:15px; border:0; margin:0; background:url('hanapin/images/banner/search_left.gif') no-repeat; }
#secondaryLinks fieldset { height:20px; border:0; margin:0; padding:0; background:url('hanapin/images/banner/search_right.gif') right no-repeat; }
#secondaryLinks legend { display:none; }
#secondaryLinks input { width:97px; height:19px; margin:0; padding:0; background:transparent url('hanapin/images/banner/search_bg.gif') no-repeat; font-size:11px; border:0; }
#secondaryLinks button { display:none; }

#topLevelSections { width:980px; height:22px; background:#ffffff; padding-top:1px; }
#topLevelSections ul { display:inline; list-style-type:none; margin:0; padding:0; height:21px; }
#topLevelSections li { float:left; list-style-type:none; height:22px; background:url('hanapin/images/mainnav/tab-left.gif') top left no-repeat; margin-right:1px; padding-left:4px; }
#topLevelSections a { display:block; background:url('hanapin/images/mainnav/tab-right.gif') top right no-repeat; height:21px; padding-top:4px; padding-left:4px; padding-right:8px; font-size:13px; color:#ffffff; font-weight:bold; }


#main-content-container { width:980px; height:100%; overflow:auto; border-left:1px solid black; border-right:1px solid black; }

.interfaceBox {   }
.interfaceBox h1 { width:190px; background:url('hanapin/images/widgets/widget_top_bg.gif') top no-repeat; background-color:#5a8fdc; padding:5px 10px 5px 10px; font-size:14px; color:#ffffff; font-weight:bold; }
.interfaceBox h1 .rss {  }

.sidebar { width:210px; padding:10px 15px 0 20px; }
.left { float:left; clear:left; }
.right { float:right; clear:right; }

.sidebar ul { list-style-type:none; margin:0; padding-left:10px; }
.sidebar ol { list-style-type:none; margin:0; padding-left:10px; }
.sidebar li { background:url('hanapin/images/icons/bullet_arrow_right.gif') no-repeat 0 .5em; padding:6px 0px 6px 26px; border-bottom:1px solid #bdbdbd; vertical-align:top; }
.sidebar .widget { width:210px; margin-bottom:15px; }
.sidebar .widget h1 { width:190px; background:#5a8fdc url('hanapin/images/widgets/widget_top_bg.gif') top no-repeat; padding:5px 10px 5px 10px; font-size:12px; color:#ffffff; font-weight:bold; margin-bottom:10px; }
.sidebar .widget a { font-size:11px; color:#000000; }

.sidebar fieldset { border:0; }
.sidebar legend { display:none; }
.sidebar select { width:190px; }
.sidebar input { max-width:190px; }

/*  mainContent allows for 3 columns,	*/
/*	backendContent allows for 2 columns	*/
#mainContent { margin-left:246px; margin-right:246px; width:488px; }
#backendContent { margin-left:246px; width:734px; }

#pageTitle { background:url('hanapin/images/contentarea/pageTitle-background.gif') top repeat-y; width:488px; padding:5px 10px 0 10px; margin-bottom:10px; }
#pageTitle h1 { background:url('hanapin/images/contentarea/pageTitle-bottom.gif') bottom left no-repeat; width:488px; padding-left:10px;  }
.breadcrumbs { font-size:11px; color:black; padding-bottom:10px; }
.breadcrumbs ul { margin:0; }
.breadcrumbs li { display:inline; list-style-type:none; }
.breadcrumbs li a { padding-right:8px; background:url('default/images/breadcrumb.gif') no-repeat right; margin-right:8px; color:black; }

#pageTools { height:39px; background:url('hanapin/images/pagetools/bg_left.gif') top left no-repeat; padding-left:19px; float:right; margin-right:15px; margin-top:10px; }
#pageTools ul { list-style-type:none; margin:0; padding:7px 10px 5px 0; height:39px; background:url('hanapin/images/pagetools/bg_right.gif') top right no-repeat; display:table; }
#pageTools li { display:inline; list-style-type:none; height:39px; vertical-align:middle; background-image:none; padding:0; border:0; }
#pageTools form { border:0; margin:0; padding:0; display:inline; vertical-align:middle; }
#pageTools fieldset { border:0; margin:0; padding:0; display:inline; vertical-align:middle; }
#pageTools select { margin:0; padding:0; width:auto; }


/* styles for list items that use the colored rectangle img bullets */
li.red { background-image: url('hanapin/images/icons/bullet_rec_red.gif'); }
li.aqua { background-image: url('hanapin/images/icons/bullet_rec_aqua.gif'); }
li.teal { background-image: url('hanapin/images/icons/bullet_rec_teal.gif'); }
li.lightred { background-image: url('hanapin/images/icons/bullet_rec_lred.gif'); }
li.violet { background-image: url('hanapin/images/icons/bullet_rec_violet.gif'); }
li.orange { background-image: url('hanapin/images/icons/bullet_rec_orange.gif'); }
li.lightgreen { background-image: url('hanapin/images/icons/bullet_rec_lgreen.gif'); }
li.lightblue { background-image: url('hanapin/images/icons/bullet_rec_lblue.gif'); }



/* Calendars MUST BE marked up as tables */
table.calendar { width:190px; border:0; padding:2px; background:#ffffff; text-align:center; }
table.calendar tr { }
table.calendar th { border:0; text-align:center; background:#c2daff; }
table.calendar td { border:0; text-align:center; }
table.calendar .date { padding:0; border:0; }
table.calendar ul { list-style-type:none; padding:0; }
table.calendar li { margin-left:0; }
.Month { color:#003366; background:#c2daff; }
.Sunday { background:#e6eef9; }
.Saturday { background:#e6eef9; }
.Monday {}
.Tuesday {}
.Wednesday {}
.Thursday {}
.Friday {}
.hasEvent { background:#9cbae0; color:#000000; font-weight:bold;  }
.hasEvent a { background:#9cbae0; color:#000000; font-weight:bold; text-decoration:none;  }
.hasEvent a:active a:visited a:hover { background:#9cbae0; color:#000000; font-weight:bold; text-decoration:none; }
.hasEvent a:hover { background:#9cbae0; color:#000000; font-weight:bold; text-decoration:none; }

/* Calendar Widget */
.widget .calendar { width:190px; background:#c2daff; margin-left:10px;}


/* JavaScript Tree Generator Styles */
/* Turn off list bullets */
ul.mktree  li { list-style: none; }
/* Control how "spaced out" the tree is */
ul.mktree, ul.mktree ul , ul.mktree li { margin-left:10px; padding:0px; }
/* Provide space for our own "bullet" inside the LI */
ul.mktree  li .bullet { padding-left: 15px; }
/* Show "bullets" in the links, depending on the class of the LI that the link's in */
ul.mktree li.liOpen .bullet { cursor: pointer; background: url('default/images/expanded.gif') center left no-repeat; }
ul.mktree li.liClosed .bullet { cursor: pointer; background: url('default/images/collapsed.gif') center left no-repeat; }
ul.mktree li.bullet .bullet { cursor: default; background: url('default/images/bullet.gif') center left no-repeat; }
/* Sublists are visible or not based on class of parent LI */
ul.mktree li.liOpen ul { display: block; }
ul.mktree li.liClosed ul { display: none; }

/*  Custom buttons for forms */
button { cursor:pointer; overflow:hidden; vertical-align:middle; }
/* Rick doesn't want these custom images right now.
button.login { width:52px; height:15px; padding-top:15px; background: url('default/images/login.gif') no-repeat; border:0; }
button.submit { width:70px; height:15px; padding-top:15px; background: url('default/images/submit.gif') no-repeat; border:0; }
button.search { width:67px; height:15px; padding-top:15px; background: url('default/images/search.gif') no-repeat; border:0; }
button.cancel { width:69px; height:15px; padding-top:15px; background: url('default/images/cancel.gif') no-repeat; border:0; }
button.save { width:52px; height:15px; padding-top:15px; background: url('default/images/save.gif') no-repeat; border:0; }
button.addLarge { width:52px; height:15px; padding-top:15px; background: url('default/images/addLarge.gif') no-repeat; border:0; }
button.editLarge { width:52px; height:15px; padding-top:15px; background: url('default/images/editLarge.gif') no-repeat; border:0; }
button.deleteLarge { width:63px; height:15px; padding-top:15px; background: url('default/images/deleteLarge.gif') no-repeat; border:0; }
button.start { width:52px; height:15px; padding-top:15px; background: url('default/images/start.gif') no-repeat; border:0; }
button.print { }
*/
button.addSmall { width:15px; height:15px; padding-top:15px; background: url('default/images/addSmall.gif') no-repeat; border:0; }
button.deleteSmall { width:15px; height:15px; padding-top:15px; background: url('default/images/deleteSmall.gif') no-repeat; border:0; }
button.excel { width:16px; height:16px; padding-top:16px; background: url('default/images/excel.gif') no-repeat; border:0; }
button.printSmall { width:16px; height:16px; padding-top:16px; background: url('default/images/printer1.png') no-repeat; border:0; }

button.previous { width:22px; height:22px; padding-top:22px; background: url('default/images/previous.png') no-repeat; border:0; }
button.next { width:22px; height:22px; padding-top:22px; background: url('default/images/next.png') no-repeat; border:0; }

/* Image Replacements for hrefs that are to be rendered as buttons */
a.addSmall { width:15px; height:15px; padding:7px; background: url('default/images/addSmall.gif') no-repeat; font-size:0 !important; }
a.editSmall { width:15px; height:15px; padding:7px; background: url('default/images/editSmall.gif') no-repeat; font-size:0 !important; }
a.deleteSmall { width:15px; height:15px; padding:7px; background: url('default/images/deleteSmall.gif') no-repeat; font-size:0 !important; }

a.up { width:16px; height:16px; padding:8px; background: url('default/images/up.png') no-repeat; font-size:0 !important; }
a.down { width:16px; height:16px; padding:8px; background: url('default/images/down.png') no-repeat; font-size:0 !important; }
a.rssSmall { width:14px; height:14px; padding:7px; background:url('default/images/feed-icon-14x14.png') no-repeat; font-size:0 !important; }
a.rss { width:28px; height:28px; padding:14px; background: url('default/images/feed-icon-28x28.png') no-repeat; font-size:0 !important; }
a.ical { width:16px; height:16px; padding:8px; background: url('default/images/date.png') no-repeat; font-size:0 !important; }
a.kml { width:16px; height:16px; padding:8px; background: url('default/images/kml_feed_small.png') no-repeat; font-size:0 !important; }

a.day { width:16px; height:14px; padding:8px; background: url('default/images/calendar/day.png') no-repeat; font-size:0 !important; }
a.week { width:16px; height:14px; padding:8px; background: url('default/images/calendar/week.png') no-repeat; font-size:0 !important; }
a.twoweek { width:16px; height:14px; padding:8px; background: url('default/images/calendar/twoweek.png') no-repeat; font-size:0 !important; }
a.month { width:16px; height:14px; padding:8px; background: url('default/images/calendar/month.png') no-repeat; font-size:0 !important; }

a.previous { width:22px; height:22px; padding:11px; background: url('default/images/previous.png') no-repeat; font-size:0 !important; }
a.next { width:22px; height:22px; padding:11px; background: url('default/images/next.png') no-repeat; font-size:0 !important; }
a.first { width:22px; height:22px; padding:11px; background: url('default/images/player_start.png') no-repeat; font-size:0 !important; }
a.last { width:22px; height:22px; padding:11px; background: url('default/images/player_end.png') no-repeat; font-size:0 !important; }

a.subscribe { width:22px; height:22px; padding:11px; background: url('default/images/news_subscribe.png') no-repeat; font-size:0 !important; }
a.unsubscribe { width:22px; height:22px; padding:11px; background: url('default/images/news_unsubscribe.png') no-repeat; font-size:0 !important; }
a.notify { width:22px; height:22px; padding:11px; background: url('default/images/mail_send.png') no-repeat; font-size:0 !important; }
a.watch { width:22px; height:22px; padding:11px; background: url('default/images/mail_get.png') no-repeat; font-size:0 !important; }
a.unwatch { width:22px; height:22px; padding:11px; background: url('default/images/mail_delete.png') no-repeat; font-size:0 !important; }

/* ICONS FOR MIME TYPES */
.jpg { height:16px; padding: 0px 0px 10px 22px; background: url('hanapin/images/icons/mime/image.png') no-repeat; }
.png { height:16px; padding: 0px 0px 10px 22px; background: url('hanapin/images/icons/mime/image.png') no-repeat; }
.gif { height:16px; padding: 0px 0px 10px 22px; background: url('hanapin/images/icons/mime/image.png') no-repeat; }
.tiff { height:16px; padding: 0px 0px 10px 22px; background: url('hanapin/images/icons/mime/page.png') no-repeat; }
.pdf { height:16px; padding: 0px 0px 10px 22px; background: url('hanapin/images/icons/mime/pdf.png') no-repeat; }
.doc { height:16px; padding: 0px 0px 10px 22px; background: url('hanapin/images/icons/mime/doc.png') no-repeat; }
.xls { height:16px; padding: 0px 0px 10px 22px; background: url('hanapin/images/icons/mime/xls.png') no-repeat; }
.rtf { height:16px; padding: 0px 0px 10px 22px; background: url('hanapin/images/icons/mime/page.png') no-repeat; }
.zip { height:16px; padding: 0px 0px 10px 22px; background: url('hanapin/images/icons/mime/zip.png') no-repeat; }
.gz { height:16px; padding: 0px 0px 10px 22px; background: url('hanapin/images/icons/mime/zip.png') no-repeat; }
.txt { height:16px; padding: 0px 0px 10px 22px; background: url('hanapin/images/icons/mime/page.png') no-repeat; }
.wmv { height:16px; padding: 0px 0px 10px 22px; background: url('hanapin/images/icons/mime/windowsMedia.png') no-repeat; }
.mov { height:16px; padding: 0px 0px 10px 22px; background: url('hanapin/images/icons/mime/quicktime.png') no-repeat; }
.rm { height:16px; padding: 0px 0px 10px 22px; background: url('hanapin/images/icons/mime/real.png') no-repeat; }
.ram { height:16px; padding: 0px 0px 10px 22px; background: url('hanapin/images/icons/mime/real.png') no-repeat; }
.mp3 { height:16px; padding: 0px 0px 10px 22px; background: url('hanapin/images/icons/mime/sound.png') no-repeat; }
.wma { height:16px; padding: 0px 0px 10px 22px; background: url('hanapin/images/icons/mime/sound.png') no-repeat; }

/* notification blocks */
#errorMessages { border:1px solid #e0e0e0; padding:5px; margin: 10px 0px 10px 0px; }
#errorMessages h1 { color:red; font-size:14px; background-color:#ffffff; }
#warning { border:1px solid #e0e0e0; padding:5px; margin: 10px 0px 10px 0px; }
#warning h1 { color:#006600; font-size:14px; background-color:#ffffff;  }
#message { border:1px solid #e0e0e0; padding:5px; margin: 10px 0px 10px 0px; }
#message h1 { color:#003366; font-size:14px; background-color:#ffffff; }
#alert { border:1px solid #e0e0e0; padding:5px; margin: 10px 0px 10px 0px; }
#alert h1 { color:red; font-size:14px; }

#footer { width:980px; padding-top:20px; font-size:11px; color:#003366; clear:both; border-left:1px solid black; border-bottom:1px solid black; border-right:1px solid black; }
#footer a { color:#003366; }
#footer ul { width:600px;  float:right; margin:0; padding:0; }
#footer li { list-style-type:none; display:inline; border-left:1px solid black; padding-left:4px; }
#footer .copyright {  width:400px; margin-left:5px; }
