@import url('../reset.css');

html { background:url('images/pagebg.gif'); background-repeat:repeat; background-position:top; text-align:center; padding-bottom:10px; }
body { width:980px; position:relative; margin:0 auto; text-align:left; background-color:white; font-family:Arial, Helvetica, sans-serif; }

/* DEFAULT TEXT */
a { color:#0066CC; }
a:active { color:#0066CC; }
a:hover { color:#0066CC; text-decoration:underline; }

hr { border:0; height:1px; background-color:#003366; margin-bottom:10px; margin-top:10px; }

p { margin:0; margin-bottom:.5em; }

h1 { font-size:24px; color:white; margin:0; padding:0; font-weight:bold; clear:both; }
h2 { font-size:22px; color:#006633; margin:15px 0px 5px 0px; font-weight:bold; clear:both; }
h2 a { color:#003366; }
h3 { font-size:14px; color:#003366; margin:15px 0px 5px 0px; padding:0; font-weight:bold; clear:both; }
h3 a { color:#003366; }
h4 { font-size:13px; color:#003366; margin:15px 0px 5px 0px; padding:0; font-weight:bold; clear:both; }
h4 a { color:#003366; }
h5 { font-size:13px; color:#003366; margin:15px 0px 5px 0px; padding:0; font-weight:bold; clear:both; }
h5 a { color:#003366; }
h6 { font-size:12px; color:#003366; margin:15px 0px 5px 0px; font-weight:bold; clear:both; }
h6 a { color:#003366; }

strong { font-weight:bold; }
u { text-decoration:underline; }
em { font-style:italic; }
sub { vertical-align:sub; }
sup { vertical-align:super; }
code { font-family:monospace; }
address { font-style:normal; }

dt { font-weight:bold; }

blockquote { margin:1em 40px; }

form { }
fieldset { margin-bottom:10px; }
legend { background-color:#5a8fdc; font-weight:bold; padding:4px; margin-bottom:2px; color:white; }
label { font-weight:bold; }
label.required {padding-left:15px; }
select { font-size:12px; }
textarea { }
input { }

table { border-collapse:collapse; margin:1em 0 1em 0; }
tr { }
td { padding:5px; background-color:inherit; vertical-align:top; }
th { text-align:left; border:1px solid #999999; background-color:#e0e0e0; padding:2px; vertical-align: top; font-weight:bold; }
th a { color:#3366cc; background-color:inherit; }

img { border:3px solid #6D7B8D; }
span.image { display:block; text-align:center; margin:0 15px 5px 15px; }
span.thumbnail {  }
span.image img { }
span.caption { display:block; font-size:11px; padding:7px; background-color:#e0e0e0; }
#pageBanner img { border:1px solid #999999; }



#banner { width:980px; margin:0; padding:0; height:130px; background:url('images/banner/banner.gif') top left no-repeat; font-size:12px; }
#banner ul { list-style-type:none; margin:0; padding:0; }
#banner a { color:black; font-size:11px; }

#logo { width:284px; height:68px; position:absolute; top:16px; left:16px;  text-indent:-9999px; }
#logo a { display:block; width:246px; height:64px; }

#skipNavigation { position:absolute; left:-9999px; }

/* Take Action */
#banner .widgets { width:296px; height:24px; position:relative; top:98px; left:16px; padding-top:4px; }
#banner .widgets h1 { display:inline; margin-left:7px; font-weight:bold; font-size:11px; color:#333333; }
#banner .widgets ul,#banner .widgets li { display:inline; }
#banner .widgets a { font-weight:bold; font-size:11px; }
#banner .take-action .do { margin-left:30px; }
#banner .take-action .do a { color:#005502; }
#banner .take-action .report { margin-left:12px; }
#banner .take-action .report a { color:#990000; }
#banner .take-action .ask { margin-left:13px; }
#banner .take-action .ask a { color:#660066; }
#banner .take-action .explore { margin-left:13px; }
#banner .take-action .explore a { color:#c13100; }

#mainLinks { width:335px; height:30px; position:absolute; top:10px; left:330px; padding-top:6px; padding-left:3px; }
#mainLinks ul, #mainLinks li { display:inline; }

#mainLinks a, #secondaryLinks a { color:#003366; }
#mainLinks li { border-left:1px solid #003366; padding-left:5px; }
#mainLinks li.first { border-left:0; }

#secondaryLinks { width:260px; height:30px; position:absolute; top:10px; right:4px; padding-top:6px; }
#secondaryLinks li { float:left;  padding-right:5px; margin-right:4px; }
#secondaryLinks li.first { border-right:1px solid #003366; }
#secondaryLinks form { width:120px; height:20px;  background:url('images/banner/search.gif') top left no-repeat; position:relative; top:-3px; left:12px; }
#secondaryLinks fieldset { }
#secondaryLinks legend { display:none; }
#secondaryLinks input { border:0; background-color:transparent; width:82px; margin-left:18px; font-size:11px; }
#secondaryLinks button { display:none; }


#topLevelSections { height:21px; padding-top:1px; background:url('images/mainnav/background.gif') top left no-repeat; }
#topLevelSections ul { list-style-type:none; height:21px; margin:0; padding:0; overflow:hidden; }
#topLevelSections li { height:19px; float:left; margin-left:14px; border-left:1px solid white; padding-left:14px; padding-top:2px; }
#topLevelSections li.home { border-left:none; }
#topLevelSections a { color:white; font-weight:bold; font-size:13px; text-decoration:none; }

#main-content-container { width:973px; border-left:1px solid black; border-right:1px solid black; border-bottom:1px solid black; margin:0; overflow:auto; padding: 10px 0 0 5px; }
.sidebar { display:none; }
#leftSidebar { display:none; }
#rightSidebar { display:none; }
#footer {display:none; }
.breadcrumbs {display:none; }


#greenContent td {border-bottom:1px solid #6D7B8D; }

#one { width:450px; height:250px; float:left; padding:10px 2px 0 2px; border-bottom:1px solid #6D7B8D; }
#two {width:450px; height:250px; float:left; padding:10px 2px 0 2px; clear:right; border-bottom:1px solid #6D7B8D; }
#three  {width:450px; height:250px; float:left; padding:10px 2px 0 2px; clear:left; border-bottom:1px solid #6D7B8D; }
#four {width:450px; height:250px; float:left; padding:10px 2px 0 2px; clear:right; border-bottom:1px solid #6D7B8D; }
#five  {width:450px; height:250px; float:left; padding:10px 2px 0 2px; clear:left; border-bottom:1px solid #6D7B8D; }
#six {width:450px; height:250px; float:left; padding:10px 2px 0 2px; clear:right; border-bottom:1px solid #6D7B8D; }
#seven  {width:450px; height:250px; float:left; padding:10px 2px 0 2px; clear:left; border-bottom:1px solid #6D7B8D; }
#eight  {width:450px; height:250px; float:left; padding:10px 2px 0 2px; clear:right; border-bottom:1px solid #6D7B8D; }
#nine  {width:450px; height:250px; float:left; padding:10px 2px 0 2px; clear:left; border-bottom:1px solid #6D7B8D; }
#ten  {width:450px; height:250px; float:left; padding:10px 2px 0 2px; clear:right; border-bottom:1px solid #6D7B8D; }
#eleven  {width:450px; height:250px; float:left; padding:10px 2px 0 2px; clear:left; border-bottom:1px solid #6D7B8D; }
#twelve {width:450px; height:250px; float:left; padding:10px 2px 0 2px; clear:right; border-bottom:1px solid #6D7B8D; }
#thirteen {width:450px; height:250px; float:left; padding:10px 2px 0 2px; clear:left; border-bottom:1px solid #6D7B8D; }
#fourteen { width:450px; height:250px; float:left; padding:10px 2px 0 2px; clear:right; border-bottom:1px solid #6D7B8D; }
#fifteen { width:450px; height:250px; float:left; padding:10px 2px 0 2px; clear:left; border-bottom:1px solid #6D7B8D; }
#sixteen { width:450px; height:250px; float:left; padding:10px 2px 0 2px; clear:right; border-bottom:1px solid #6D7B8D; }

 #pageTitle {display:none; }
.pageTitle { width:970px; border-bottom:1px solid #6D7B8D; }
.pageTitle ul { list-style-type:none; }
.pageTitle li { float:left; padding-left:50px; }
.pageTitle h2 { text-align:center; color:white; background:url('images/contentarea/titlebackground.gif') top center no-repeat; padding:10px 45px 25px 45px; border:0px; }
.pageTitle p { clear:left; padding:0 10px 0 10px; }
.pageTitle img {border:0; }
/*  mainContent allows for 3 columns,	*/
/*	backendContent allows for 2 columns	*/
#mainContent { font-size:12px; line-height:1.25; }
#backendContent { font-size:12px; }

/* Javascript creates tooltips on the fly */
/* There is only one tooltip div, javascript just replaces it's contents */
#tooltip { border:2px solid #5a8fdc; background-color:white; padding:4px; font-size:11px; }
#tooltip.enlarge { padding-left:18px; background:white url('images/icons/viewmag.png') top left no-repeat; }

#pageTools { background:url('images/pagetools/pagetools_bg.gif') top left no-repeat; width:210px; height:39px; margin-bottom:10px; float:right; }
#pageTools ul { list-style-type:none; width:200px; height:39px; text-align:right; float:right; margin:0; padding:0; margin-top:11px; margin-right:10px; white-space:nowrap; }
#pageTools li { display:inline; margin-left:5px; }
#pageTools form { display:inline; }
#pageTools fieldset { display:inline; vertical-align:top; }
#pageTools legend { display:none; }
#pageTools select { width:90px; margin:0; padding:0; font-size:11px; }

/* HANAPIN - Styles for filter and organize by lists in page content area */
.tabBar { padding-bottom:10px; padding-top:10px; }
.tabBar ul { margin:10px 0 0 0; padding:0; font-size:11px; list-style-type:none; }
.tabBar li { list-style-type:none; display:inline; background-color:#f3f3f3; border:1px solid #013466; padding:3px; }
.tabBar a { font-size:11px; color:#003366; text-decoration:none; }
.tabBar a:hover { color:#003366; text-decoration:underline; }
.tabBar .title { font-size:11px; color:#003366; float:left; width:120px; font-weight:bold; }
.tabBar .current { font-weight:bold; background-color:#013466; color:white; padding:3px; }
.tabBar .current a { color:white; }
.tabBar select { font-size:11px; margin-left:6px;  }
.tabBar button { font-size:11px; }

/* Image Replacements for hrefs that are to be rendered as buttons */
a.addSmall { width:15px; height:15px; background-image:url('../default/images/addSmall.gif'); }
a.editSmall { width:15px; height:15px; background-image:url('../default/images/editSmall.gif'); }
a.deleteSmall { width:15px; height:15px; background-image:url('../default/images/deleteSmall.gif'); }

a.up { width:16px; height:16px; background-image:url('../default/images/up.png'); }
a.down { width:16px; height:16px; background-image:url('../default/images/down.png'); }
a.rssSmall { width:14px; height:14px; background-image:url('../default/images/feed-icon-14x14.png'); }
a.rss { width:28px; height:28px; background-image:url('../default/images/feed-icon-28x28.png'); }
a.ical { width:16px; height:16px; background-image:url('../default/images/date.png'); }
a.kmlFeed { width:16px; height:16px; background-image:url('../default/images/kml_feed_small.png'); }

a.subscribe { width:22px; height:22px; background-image:url('images/buttons/x.gif'); }
a.unsubscribe { width:22px; height:22px; background-image:url('images/buttons/checkmark.gif'); }
a.notify { width:22px; height:22px; background-image:url('../default/images/mail_send.png'); }
a.watch { width:22px; height:22px; background-image:url('../default/images/mail_get.png'); }
a.unwatch { width:22px; height:22px; background-image:url('../default/images/mail_delete.png'); }
a.reveal { width:12px; height:12px; background-image:url('images/icons/reveal_in_map.gif'); }

/* ICONS FOR MIME TYPES */
.jpg { height:16px; padding: 0px 0px 10px 22px; background: url('images/icons/mime/image.png') no-repeat; }
.png { height:16px; padding: 0px 0px 10px 22px; background: url('images/icons/mime/image.png') no-repeat; }
.gif { height:16px; padding: 0px 0px 10px 22px; background: url('images/icons/mime/image.png') no-repeat; }
.tiff { height:16px; padding: 0px 0px 10px 22px; background: url('images/icons/mime/page.png') no-repeat; }
.pdf { height:16px; padding: 0px 0px 10px 22px; background: url('images/icons/mime/pdf.png') no-repeat; }
.doc { height:16px; padding: 0px 0px 10px 22px; background: url('images/icons/mime/doc.png') no-repeat; }
.xls { height:16px; padding: 0px 0px 10px 22px; background: url('images/icons/mime/xls.png') no-repeat; }
.rtf { height:16px; padding: 0px 0px 10px 22px; background: url('images/icons/mime/page.png') no-repeat; }
.zip { height:16px; padding: 0px 0px 10px 22px; background: url('images/icons/mime/zip.png') no-repeat; }
.gz { height:16px; padding: 0px 0px 10px 22px; background: url('images/icons/mime/zip.png') no-repeat; }
.txt { height:16px; padding: 0px 0px 10px 22px; background: url('images/icons/mime/page.png') no-repeat; }
.wmv { height:16px; padding: 0px 0px 10px 22px; background: url('images/icons/mime/windowsMedia.png') no-repeat; }
.mov { height:16px; padding: 0px 0px 10px 22px; background: url('images/icons/mime/quicktime.png') no-repeat; }
.rm { height:16px; padding: 0px 0px 10px 22px; background: url('images/icons/mime/real.png') no-repeat; }
.ram { height:16px; padding: 0px 0px 10px 22px; background: url('images/icons/mime/real.png') no-repeat; }
.mp3 { height:16px; padding: 0px 0px 10px 22px; background: url('images/icons/mime/sound.png') no-repeat; }
.mp4 { height:16px; padding: 0px 0px 10px 22px; background: url('images/icons/mime/video.png') no-repeat; }
.wma { height:16px; padding: 0px 0px 10px 22px; background: url('images/icons/mime/sound.png') no-repeat; }
.tar { height:16px; padding: 0px 0px 10px 22px; background: url('images/icons/mime/tar.png') no-repeat; }
.dxf { height:16px; padding: 0px 0px 10px 22px; background: url('images/icons/mime/dwg-autocad-drawing.ico') no-repeat; }
.kml { height:16px; padding: 0px 0px 10px 22px; background: url('../default/images/kml_feed_small.png') no-repeat; }
.swf { height:16px; padding: 0px 0px 10px 22px; background: url('images/icons/mime/flash.gif') no-repeat; }
.folder { height:16px; padding: 0px 0px 10px 22px; background: url('images/icons/mime/folder.png') no-repeat; }


/* notification blocks */
#errorMessages { border:1px solid #013567; padding:5px; margin: 10px 0px 10px 0px; background-color:#e6e6e6; clear:both; }
#errorMessages h1 { color:red; font-size:14px; background-color:#e6e6e6; }
#warning { border:1px solid #013567; padding:5px; margin: 10px 0px 10px 0px; background-color:#e6e6e6; clear:both; }
#warning h1 { color:#006600; font-size:14px; background-color:#e6e6e6; }
#message { border:1px solid #013567; padding:5px; margin: 10px 0px 10px 0px; background-color:#e6e6e6; clear:both; }
#message h1 { color:#003366; font-size:14px; background-color:#e6e6e6; }