code { display:block; white-space:pre; background-color:#CCCCCC; font-family:monospace; }

.breadcrumbs ul { list-style-type:none; }
.breadcrumbs li { display:inline; }

#navigation { float:left; width:150px; border:2px solid black; margin-right:2em; margin-bottom:2em; padding:5px; }
#navigation ul { list-style-type:none; margin:0; padding:0; }
#navigation ul ul { margin-left:2em; }


#mainContent { margin-left:200px; }